/* This the custom css file */

/* This CSS was in the header of the carousel template
   --------------------------------------------------- */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

/* Custom CSS
   ------------------------------------------------------------- */
body, main {
    background-color: white !important;
}
footer {
    color:black;
}

main > div.hdr-section {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

#hero-logo-text,
#icon-grid > h2,
.ftr-sub-txt > p,
.featurette > div > p,
.featurette > div > h2 {
    color: black !important;
}

.btn-no-style > a {
    text-decoration: none;
    color: white;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    color: white;
    opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: white;
    opacity: 0.5;
}

.carousel-indicators > button {
    background-color: white;
    opacity: 0.5;
}
.carousel-indicators > button.active {
    opacity: 1;
}

.carousel-caption > p,
.carousel-caption > h1 {
    color: white !important;
}

nav.navbar {
    background: #9AC748 !important;
}

.carousel-item {
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.carousel-item:nth-of-type(1) {
    background-image: url("images/petar-tonchev-c-5-QE5kBYk-unsplash.jpg");
}

.carousel-item:nth-of-type(2) {
    background-image: url("images/daniel-watson-8vBpYpTGo90-unsplash.jpg");
}

.carousel-item:nth-of-type(3) {
    background-image: url("images/benjamin-ilchmann-YlFwu8_9ZKo-unsplash.jpg");
}

#ftr-img-1 {
    background-image: url("images/IMG_20240311_231813.jpg");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 500px;
    width: 500px;
}

#ftr-img-2 {
    background-image: url("images/IMG_20240311_231800.jpg");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 500px;
    width: 500px;
}

#ftr-img-3 {
    background-image: url("images/IMG_20240311_231741.jpg");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 500px;
    width: 500px;
}

#ftr-img-4 {
    background-image: url("images/IMG_20240311_231727.jpg");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 500px;
    width: 500px;
}